@import './mixins/breakpoints';

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  box-shadow: -10px 2px 14px 0 rgba(42, 45, 51, 0.14);

  position: relative;

  height: 100px;
  padding: 0 27px;
  transition: .2s;

  @media (min-width: $desktop-width) {
    padding: 0 43px;
  }

  &-mobile {
    margin-bottom: 210px;
    overflow: visible;

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &--no-shadow {
    box-shadow: none;
  }
}
