@import './mixins/breakpoints';
@import './mixins/colors';

.HeaderNav {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;

  @media (min-width: $desktop-width) {
    position: relative;
    top: 0;
    width: inherit;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 170px;

    @media (min-width: $desktop-width) {
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      min-width: 450px;
      height: inherit;
    }

    li {

      @media (min-width: $desktop-width) {
        float: left;
        padding-left: 30px;
      }

      a {
        color: $tl-navy;
        text-decoration: none;
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
}
