@import './mixins/breakpoints';

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100px;
  padding: 0 27px;

  @media (min-width: $desktop-width) {
    padding: 0 43px;
  }
}
