@import './mixins/breakpoints';

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;

  position: relative;

  height: 100px;
  padding: 0 27px;
  transition: .2s;

  @media (min-width: $desktop-width) {
    padding: 0 43px;
  }

  &-mobile {
    margin-bottom: 100px;
    overflow: visible;

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}
