@import './mixins/breakpoints';
@import './mixins/colors';

.HeaderNav {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;

    ul {
      li {
        float: left;
        padding-left: 30px;

        a {
          color: $tl-navy;
          text-decoration: none;
        }
      }
    }
  }
}
