@import "./mixins/colors";

.Features {
  padding: 40px 30px;
  background-color: $tl-pink;

  h3, h4 {
    text-align: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
  
    h4 {
      color: $tl-navy;
    }
  }
}
