@import "./mixins/colors";
@import "./mixins/breakpoints";

.Features {
  padding: 40px 30px;
  background-color: $tl-pink;

  h3, h4 {
    text-align: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
  
    h4 {
      color: $tl-navy;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;

    h3 {
      width: 100%;
      font-size: 45px;
    }

    &__item {
      width: 50%;
    }
  }
}
