@import "./mixins/colors";
@import "./mixins/breakpoints";

.Goals {
  background-color: $tl-baby-blue;
  padding: 40px 30px;

  @media (min-width: $desktop-width) {
    padding: 40px 98px;
  }

  .Content {
    text-align: left;

    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        font-size: 25px;
        font-weight: 600;
      }
    }
  }

  &__copy {
    max-width: 700px;

    @media (min-width: $desktop-width) {
      padding-left: 45px;
    }
  }

  &__list-item {
    @media (min-width: $desktop-width) {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }

  &__list-item-header {
    color: $tl-navy;
    font-weight: 600;
  }

  &__placeholder {
    width: 300px;
    height: 341px;
    margin: 0;
    border-radius: 20px;
    box-shadow: 10px 13px 14px 0 rgba(0, 0, 0, 0.13);
    background-color: grey;

    @media (min-width: $desktop-width) {
      max-width: 423px;
      min-width: 423px;
      height: 484px;
      box-shadow: -10px 10px 14px 0 rgba(0, 0, 0, 0.13);
    }
  }
}
