@import "./mixins/colors";
@import "./mixins/breakpoints";

.Goals {
  background-color: $tl-baby-blue;
  padding: 40px 30px;

  @media (min-width: $desktop-width) {
    padding: 40px 98px;
  }

  .Content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    text-align: left;

    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      h3 {
        font-size: 25px;
        font-weight: 600;
      }
    }
  }

  &__copy {
    max-width: 700px;

    @media (min-width: $desktop-width) {
      padding-left: 45px;
    }
  }

  &__list-item {
    font-size: 20px;
    margin-bottom: 20px;

    @media (min-width: $desktop-width) {
      margin-bottom: 30px;
    }
  }

  &__list-item-header {
    color: $tl-navy;
    font-weight: 600;
    line-height: 25px;
  }

  &__list-item-body {
    line-height: 25px;
  }

  &__image-container {
    min-width: 300px;
    max-width: 300px;
    margin: 0;

    @media (min-width: $desktop-width) {
      max-width: 423px;
      min-width: 423px;
    }

    img {
      width: 100%;
      border-radius: 20px;
      box-shadow: 10px 13px 14px 0 rgba(0, 0, 0, 0.13);

      @media (min-width: $desktop-width) {
        box-shadow: -10px 10px 14px 0 rgba(0, 0, 0, 0.13);
      }
    }
  }
}
