@import "./mixins/breakpoints";

.Hero {
  position: relative;

  @media (min-width: $desktop-width) {
    display: flex;
  }

  &__img-container {
    @media (min-width: $desktop-width) {
      width: 80%;
    }

    img {
      width: 100%;
      box-shadow: 10px 13px 14px 0 rgba(0, 0, 0, 0.13);

      @media (min-width: $desktop-width) {
        width: 100%;
        border-radius: 0 0 80px 0;
      }
    }
  }

  .Content {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1600px;

    @media (min-width: $desktop-width) {
      flex-direction: row;
    }
  }

  .TaglineContainer {
    @media (min-width: $desktop-width) {
      order: 1;
    }
  }
}
