@import "./mixins/breakpoints";

.Hero {
  position: relative;

  @media (min-width: $desktop-width) {
    display: flex;
  }

  &__placeholder {
    height: 210.1px;
    box-shadow: 10px 13px 14px 0 rgba(0, 0, 0, 0.13);
    background-color: grey;

    @media (min-width: $desktop-width) {
      height: 503px;
      width: 80%;
      border-radius: 0 0 80px 0;
    }
  }

  .Content {
    position: relative;
    max-width: 1600px;
  }

  .TaglineContainer {
    order: 1;
  }
}
