@import "./mixins/breakpoints";

.Hero {
  position: relative;
  margin-top: 20px;

  @media (min-width: $desktop-width) {
    display: flex;
    margin-top: 0;
  }

  &__img-container {
    width: 100%;

    img {
      width: 100%;

      @media (min-width: $desktop-width) {
        width: 100%;
      }
    }
  }

  .Content {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1600px;

    @media (min-width: $desktop-width) {
      flex-direction: row;
    }
  }

  .TaglineContainer {
    @media (min-width: $desktop-width) {
      order: 1;
    }
  }
}
