@import "./mixins/colors";
@import "./mixins/breakpoints";

.Newsletter {
  background-color: $tl-navy;
  width: 100%;
  display: flex;
  justify-content: center;

  .Content {
    display: flex;
    flex-direction: column;
    padding: 40px 30px;

    @media (min-width: $desktop-width) {
      flex-direction: row;
      padding: 54.2px 108.9px;
    }
  }

  h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  h2, p {
    color: $tl-pink;
  }

  p {
    @media (min-width: $desktop-width) {
      font-size: 18px;
    }
  }

  &__text-input-container {
    display: flex;
    width: 100%;

    @media (min-width: $desktop-width) {
      width: 296px;
    }
  }

  .Success {
    display: none;

    @media (min-width: $desktop-width) {
      padding-left: 50px;
    }

    &__headline {
      margin-top: 25px;
      margin-bottom: 0;
      font-weight: 600;
    }

    &__social {
      img {
        padding-right: 25px;
      }
    }
  }

  &__form-control {
    min-height: 145px;

    @media (min-width: $desktop-width) {
      display: flex;
      align-items: center;
      flex-grow: 1;
      padding-left: 40px;
    }

    form {
      display: flex;
      flex-direction: column;

      @media (min-width: $desktop-width) {
        flex-direction: row;
      }

      .TlButton {
        margin-top: 24px;
        width: 135px;

        @media (min-width: $desktop-width) {
          margin-top: 0;
          margin-left: 20px;
        }
      }
    }
  }

  &__success {
    .Success {
      display: flex;
      flex-direction: column;
    }

    .FormControl {
      display: none;
    }
  }

  &__copy {
    @media (min-width: $desktop-width) {
      max-width: 500px;
    }
  }

  #fb-button {
    display: inline-block;
    cursor: pointer;
  }
}
