@import "./mixins/colors";
@import "./mixins/breakpoints";

.Newsletter {
  padding: 40px 30px;
  background-color: $tl-navy;

  h2, p {
    color: white;
  }

  &__form-control {
    form {
      display: flex;
      flex-direction: column;

      .TlButton {
        margin-top: 24px;
        width: 112px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;

    h2 { font-size: 30px; }
    p  { font-size: 18px; }

    &__copy {
      max-width: 500px;
    }
  
    &__form-control {
      display: flex;
      align-items: center;
      flex-grow: 1;
      padding-left: 40px;

      form {
        flex-direction: row;

        .TlButton {
          margin-top: 0;
          margin-left: 20px;
        }
      }
    }
  }
}
