<div class="FooterNav">
  <ul>
    <li>
      <a href="/about">
        About
      </a>
    </li>
    <li>
      <a href="/newsletters">
        Newsletters
      </a>
    </li>
    <li>
      <a href="mailto:hello@tillfinancial.io">
        Contact
      </a>
    </li>
  </ul>
</div>
