<div class="Social">
  <ul>
    <li>
      <a href="">
        <img src="<%= image_path('social/facebook') %>" alt="Facebook" />
      </a>
    </li>
    <li>
      <a href="">
        <img src="<%= image_path('social/twitter') %>" alt="Twitter" />
      </a>
    </li>
    <li>
      <a href="">
        <img src="<%= image_path('social/instagram') %>" alt="Instagram" />
      </a>
    </li>
  </ul>
</div>
