<div class="Social">
  <ul>
    <li>
      <a href="">
        <img src="<%= image_path('social/facebook.svg') %>" alt="Facebook" />
      </a>
    </li>
    <li>
      <a href="">
        <img src="<%= image_path('social/twitter.svg') %>" alt="Twitter" />
      </a>
    </li>
    <li>
      <a href="">
        <img src="<%= image_path('social/instagram.svg') %>" alt="Instagram" />
      </a>
    </li>
  </ul>
</div>
