@import "./mixins/breakpoints";

.FooterNav {
  display: flex;
  flex-direction: column;
  align-items: center;

  ul {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;

   li {
     text-align: center;
     padding: 20px 0;
     width: 50%;

     font-size: 22px;
     font-weight: 600;

     @media (min-width: $desktop-width) {
       width: inherit;
       margin: 0 50px;
     }
   }
  }
}
