@import './mixins/colors';
@import "./mixins/breakpoints";

.Footer {
  background-color: $tl-dark-grey;
  color: white;
  
  margin: 0;
  padding: 40px 20px;

  ul { margin: 0; }
  a { color: white; text-decoration: none;}

  @media (min-width: $desktop-width) {
    padding: 60px 53.3px;
  }
}
