@import './mixins/colors';

.Terms {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 40px;

  p {
    margin: 0;
    color: $tl-pink;
    font-size: 14px;
  }

  &__dot {
    height: 5px;
    min-width: 5px;
    max-width: 5px;
    margin: 0 10px;
    background-color: $tl-pink;
  }
}
