<section class="Features parent">
  <div class="Content">
    <div class="Features__heading">
      <h3>
        Till helps you raise kids with the habits, instincts, and skills to prosper
      </h3>
    </div>
    <div class="Features__items">
      <div class="Features__item">
        <img style="width: 128px;" src="<%= image_path('home/goals/wizard.svg') %>" />
        <div class="Features__item-copy">
          <h4>Build expectations into the giving</h4>
          <p>
            Easily attach the requirements for earning, saving, and spending to every dollar a kid gets. Follow-through and accountability are built in each time you give money.
          </p>
        </div>
      </div>
      <div class="Features__item">
        <img style="width: 128px;" src="<%= image_path('home/goals/community.svg') %>" />
        <div class="Features__item-copy">
          <h4>Involve your whole community</h4>
          <p>
            Friends and family contribute to college or saving for that special thing rather than unwanted presents. And, everyone gets to watch as their gifts add up to a meaningful impact on your kid’s life.          
          </p>
        </div>
      </div>
      <div class="Features__item">
        <img style="width: 128px;" src="<%= image_path('home/goals/roadmap.svg') %>" />
        <div class="Features__item-copy">
          <h4>A roadmap from birth to launch</h4>
          <p>
            We'll share with you our research plus insights from other parents. We guide you each step of the way so you can rest assured you've taught your kids everything they need to know.
          </p>
        </div>
      </div>
      <div class="Features__item">
        <img style="width: 128px;" src="<%= image_path('home/goals/money.svg') %>" />
        <div class="Features__item-copy">
          <h4>Real money, really safe</h4>
          <p>
            We believe in learning by doing. All of our debit cards, savings/checking accounts, and 529s are completely secure; backed by a 100% FDIC-insured bank.
          </p>
        <div />
      </div>
    </div>
  </div>
</section>
