<section class="Goals">
  <div
    class="Goals__placeholder"
    alt="Placeholder"
  ></div>
  <div class="Goals__copy">
    <h3>Let's make sure every child is financially savvy when they enter adulthood.</h3>
    <ul>
      <li>
        Understands the burden of college loan payments
        and the value of compounding interests.
      </li>
      <li>
        Values money, doesn't overspend and saves whenever
        possible
      </li>
      <li>
        Is building up good credit scores and knows the
        dangers of credit card fees and debt traps
      </li>
    <ul>
  </div>
</section>
