<section class="HomeSection">
  <%=
    render(
      partial: 'home/tagline_container'
    )
  %>
  <div
    style="height: 210.1px; box-shadow: 10px 13px 14px 0 rgba(0, 0, 0, 0.13); background-color: grey;"
    alt="Placeholder until I have the image"
  />
</section>
