<section class="Hero parent">
  <div class="Content">
    <%=
      render(
        partial: 'home/tagline_container'
      )
    %>
    <div
      class="Hero__placeholder"
      alt="Placeholder until I have the image"
    />
  </div>
</section>
