<section class="LeadValueProp parent">
  <div class="Content">
    <h3>
      Let’s raise kids who are fiscally fit
    </h3>
    <p>
      Till is building a platform and suite of financial products that help families work 
      better with money.
    </p>
  </div>
</section>
