<section class="LeadValueProp parent">
  <div class="Content">
    <h3>
      What do kids learn when you give them money?
    </h3>
    <p>
      Till is a better way to give your kids money by simplifying 
      and tracking the commitments tied to that giving. 
    </p>
  </div>
</section>
