<section class="LeadValueProp">
  <h3>
    It's never too early to talk to your kids about money
  </h3>
  <p>
    Till is creating the toolkit and the roadmap to ensure you
    successfully teach your kids to be financially responsible.
  </p>
</section>
