<section class="Newsletter">
  <div class="Newsletter__copy">
    <h2>Sign up for our newsletter</h2>
    <p>
      Stay tuned on our progress and get proven tips
      and tricks for how to teach your kids about money
    </p>
  </div>
  <div class="Newsletter__form-control">
    <%= form_tag leads_path do %>
      <div class="Newsletter__text-input-container">
        <%=
          render(
            partial: 'shared/form/text_input',
            locals: {
              placeholder: 'Email address',
              name: 'email'
            }
          )
        %>
      </div>
      <%=
        render(
          partial: 'shared/form/button',
          locals: {
            value: 'Submit',
            type: 'submit',
            name: "submit"
          }
        )
      %>
    <% end %>
  </div>
</section>
