<div class="TaglineContainer">
  <div class="TaglineContainer__root">
    <%= 
      render(
        partial: 'shared/tagline',
        locals: {
          body: 'A better way to give<br/>your kids money'
        }
      )
    %>
  </div>
</div>
