<div class="TaglineContainer">
  <div class="TaglineContainer__root">
    <%= 
      render(
        partial: 'shared/tagline',
        locals: {
          body: 'This is a tag line that goes here'
        }
      )
    %>
  </div>
</div>
