<nav class="HeaderNav mobileHide">
  <ul>
    <li>
      <a class="HeaderNav__link <%= controller_path == 'about' ? 'HeaderNav__link--active' : '' %>" href="/about">
        About
      </a>
    </li>
    <li>
      <a class="HeaderNav__link <%= controller_path == 'buttercms/posts' ? 'HeaderNav__link--active' : '' %>" href="/newsletters">
        Newsletters
      </a>
    </li>
    <li>
      <%= 
        render(
          partial: 'shared/form/button',
          locals: {
            value: 'Subscribe',
            type: 'button',
            input_id: 'subscribe-btn',
            data_scroll: 'newsletter',
            onclick: "onSubscribeClick()"
          }
        )
      %>
    </li>
  </ul>
</nav>
