<nav class="HeaderNav mobileHide">
  <ul>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/newsletters">
        Newsletters
      </a>
    </li>
    <li>
      <%= 
        render(
          partial: 'shared/form/button',
          locals: {
            value: 'Subscribe',
            type: 'button',
            input_id: 'subscribe-btn',
            data_scroll: 'newsletter'
          }
        )
      %>
    </li>
  </ul>
</nav>
