@import './mixins/colors';

.TlButton {
  border-radius: 5px;
  padding: 19px 30px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  background-color: $tl-orange;
  color: white;
  transition: .2s;

  outline: 0;
  margin: 0;
  border: 0;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;

  &:focus {
    background-color: $tl-orange-hov;
  }

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      background-color: $tl-orange-hov;
    }
  }
}

