<div class="AboutHeader parent">
  <div class="Content">
    <h1>Who we are</h1>
    <%= render partial: 'shared/tag' %>
    <div class="AboutHeader__body">
      <p>
      Till is being built by an energized group
      of young people (and a few older ones) committed 
      to making sure every kid develops
      a healthy relationship with money. We believe 
      this starts with the family and that
      each time a parent (or friend or family member) 
      gives a kid money is a “teachable 
      moment”. Add up all those “teachable moments” 
      and kids enter the world with the habits, 
      instincts, and financial skills to 
      prosper.
      </p>
    </div>
  </div>
</div>
