<div class="Content">
  <img
    style="width: 100%;"
    srcset="<%= image_path('about/about-images.png') %> 1278w,
            <%= image_path('about/about-images@2x.png') %> 2556w"
    sizes="(max-width: 800px) 800px,
            1024px"
    src="<%= image_path('about/about-images.png') %>"
    alt="Till is a better way to give your kids money."
  >
</div>
