<div class="AboutValues">
  <div class="Content">
    <h2>What Drives Us</h2>
    <ul class="AboutValues__list">
      <li class="AboutValues__list-item">
        <h4>Commitment</h4>
        <p>Build a foundation of trust and follow-through to serve as the underpinning of a successful launch.</p>
      </li>
      <li class="AboutValues__list-item">
        <h4>Community</h4>
        <p>Harness the power of friends and family eager to help a parent raise a child ready for the world.</p>
      </li>
      <li class="AboutValues__list-item">
        <h4>Capability</h4>
        <p>Arm each young person with the full quiver of skills to take on the demands of modern economy.</p>
      </li>
    </ul>
  </div>
</div>
