@import "./mixins/colors";
@import "./mixins/breakpoints";

.PostCard {
  display: flex;
  min-width: 344px;
  max-width: 344px;

  margin: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.16);

  &__content { 
    display: flex;
    flex-direction: column;
  }

  &__link {
    text-decoration: none;
    color: $tl-dark-grey;
  }

  &__image {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  &__meta {
    padding: 10px;
    border: solid 2px #f7f2ef;
    border-top: 0;
    border-radius: 0 0 10px 10px;

    h5 {
      margin: 0;
      color: $tl-navy;
      font-size: 20px;
      font-weight: 600;
    }
  }
}
