@import "./mixins/colors";
@import "./mixins/breakpoints";

.Posts {
  display: flex;
  justify-content: center;

  img {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    padding: 0 20px;
  }

  .Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: $desktop-width) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__main {
    max-width: 900px;
  }

  &__other {
    margin-bottom: 50px;

    @media (min-width: $desktop-width) {
      margin-left: 100px;
    }

    h3 {
      font-weight: 400;
    }
  }
}
