@import "./mixins/colors";

.PostsHeader {
  background-color: $tl-baby-blue;
  padding: 40px 60px;

  h1, h3 {
    margin: 0;
  }

  h1 {
    font-size: 40px;
  }

  h3 {
    color: $tl-navy;
    font-weight: 400;
    font-size: 25px;
  }
}
