<li class="PostCard">
  <a class="PostCard__link" href="/newsletters/<%= slug %>">
    <div class="PostCard__content">
      <img
        class="PostCard__image"
        src="<%= image %>"
      />
      <div class="PostCard__meta">
        <h5><%= title %></h5>
        <span><%= date %></span>
      </div>
    </div>
  </a>
</li>
