<div class="Posts">
  <div class="Content">
    <main class="Posts__main">
      <div>
        <%= featured.body.html_safe %>
      </div>
    </main>
    <div class="Posts__other">
      <h3>More Newsletters</h3>
      <ul>
        <% posts.each do |post| %>
          <%=
            render(
              partial: 'post_card',
              locals: {
                slug: post.slug,
                image: post.featured_image,
                title: post.title,
                date: DateTime.parse(post.published).strftime('%B %-d, %Y')
              }
            )
          %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
